<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>474195486420-uskd2v3v63bruqmbvsh1vj6sh8njkjmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474195486420-uskd2v3v63bruqmbvsh1vj6sh8njkjmr</string>
	<key>API_KEY</key>
	<string>AIzaSyB358GuSh0QuWixNl8ca9n-GsGuICZGX8c</string>
	<key>GCM_SENDER_ID</key>
	<string>474195486420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PushpamGroup.Lacart</string>
	<key>PROJECT_ID</key>
	<string>lacart-b1d6e</string>
	<key>STORAGE_BUCKET</key>
	<string>lacart-b1d6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:474195486420:ios:a1b1e7ac5487ce50</string>
	<key>DATABASE_URL</key>
	<string>https://lacart-b1d6e.firebaseio.com</string>
</dict>
</plist>